@import url('https://fonts.googleapis.com/css2?family=poppins:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;

}
/*Background to the page*/
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to top, #e2e2e2, #ff5100);
    color: #333;
}
/*centering*/
.container{
    margin: 0 15px;
}
/*Study Buddy on top of The form box*/
h1 {
    font-size: 34px;
    text-align: center;
    margin-bottom: 20px;
    color: #FFFFFF;
}
/*properties for the Actual box*/
.form-box {
    width: 100%;
    max-width: 450px;
    padding: 30px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: none;
}
/*makes this the default form, used with javascript*/
.form-box.active {
    display: block;
}
/*Title inside the formbox*/
h2 {
    font-size: 34px;
    text-align: center;
    margin-bottom: 20px;
    color: #00008B;
}
/*Boxes to enter userdata*/
input,
Select {
    width: 100%;
    padding: 12px;
    background: #eee;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
}

/*Button*/
button {
    width: 100%;
    padding: 12px;
    background: #00008B;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 20px;
    transition: 0.5s;
}
/*Darkens the box*/
button:hover {
    background: #6884d3;
}
/*Centering the line under the bottom*/
P {
    font-size: 14.5px;
    text-align: center;
    margin-bottom: 10px;
}
/*Giving color to the Login/Register word*/
p a {
    color: #7494ec;
    text-decoration: none;
}
/*give a line when hovering over the login/Register*/
p a:hover {
    text-decoration: underline;
}